<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/error.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Error page</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1><%=title%></h1>
            <h3><%=error%></h3>
            <img src="/assets/error.gif" alt="">
            <p>Sorry, the page you're looking for doesn't exist.</p>
            <a>
                <p>Return home and try again.</p>
            </a>
        </div>
    </div>
</body>
</html>