<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
    <style>
      #container {
        width: 100%;
        margin: 20px auto;
      }
      .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
      }
      .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Mẫu Báo Cáo Biển Quảng Cáo</h1>
      <form action="action_page.php">
        <div class="item-container">
          <div class="item-title">
            <label for="fname">Họ tên</label>
            <span id="reName">*</span>
          </div>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Họ tên người gửi báo cáo"
            required
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="email">Email</label>
            <span id="reEmail">*</span>
          </div>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email của bạn"
            required
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="phone">Điện thoại liên lạc</label>
            <span id="rePhone">*</span>
          </div>
          <input
            type="text"
            id="phone"
            name="phone"
            placeholder="Số điện thoại của bạn"
            required
          />
        </div>

        <div class="item-container" id="special">
          <div class="item">
            <div class="item-title">
              <label for="phone">ID biển</label>
            </div>
            <input type="text" id="IDQC" name="IDQC" value="abcxyz" disabled />
          </div>

          <div class="item">
            <div class="item-title">
              <label for="phone">Điểm đặt biển</label>
            </div>
            <input type="text" id="IDDQC" name="IDDQC" value="lc001" disabled />
          </div>
        </div>

        <div class="item-container">
          <label for="subject">Hình thức báo cáo</label>
          <select id="subject" name="subject">
            <option value="1">Tố giác sai phạm</option>
            <option value="2">Đăng ký nội dung</option>
            <option value="3">Đóng góp ý kiến</option>
            <option value="4">Giải đáp thắc mắc</option>
          </select>
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="report">Nội dung báo cáo</label>
            <span id="rePort">*</span>
          </div>
          <div id="container">
            <div id="editor"></div>
          </div>
          <!--
                  The "super-build" of CKEditor&nbsp;5 served via CDN contains a large set of plugins and multiple editor types.
                  See https://ckeditor.com/docs/ckeditor5/latest/installation/getting-started/quick-start.html#running-a-full-featured-editor-from-cdn
              -->
          <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/super-build/ckeditor.js"></script>
          <!--
                  Uncomment to load the Spanish translation
                  <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/super-build/translations/es.js"></script>
              -->
          <script>
            // This sample still does not showcase all CKEditor&nbsp;5 features (!)
            // Visit https://ckeditor.com/docs/ckeditor5/latest/features/index.html to browse all the features.
            CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
              // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
              toolbar: {
                items: [
                  "exportPDF",
                  "exportWord",
                  "|",
                  "findAndReplace",
                  "selectAll",
                  "|",
                  "heading",
                  "|",
                  "bold",
                  "italic",
                  "strikethrough",
                  "underline",
                  "code",
                  "subscript",
                  "superscript",
                  "removeFormat",
                  "|",
                  "bulletedList",
                  "numberedList",
                  "todoList",
                  "|",
                  "outdent",
                  "indent",
                  "|",
                  "undo",
                  "redo",
                  "-",
                  "fontSize",
                  "fontFamily",
                  "fontColor",
                  "fontBackgroundColor",
                  "highlight",
                  "|",
                  "alignment",
                  "|",
                  "link",
                  "uploadImage",
                  "blockQuote",
                  "insertTable",
                  "mediaEmbed",
                  "codeBlock",
                  "htmlEmbed",
                  "|",
                  "specialCharacters",
                  "horizontalLine",
                  "pageBreak",
                  "|",
                  "textPartLanguage",
                  "|",
                  "sourceEditing",
                ],
                shouldNotGroupWhenFull: true,
              },
              // Changing the language of the interface requires loading the language file using the <script> tag.
              // language: 'es',
              list: {
                properties: {
                  styles: true,
                  startIndex: true,
                  reversed: true,
                },
              },
              // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
              heading: {
                options: [
                  {
                    model: "paragraph",
                    title: "Paragraph",
                    class: "ck-heading_paragraph",
                  },
                  {
                    model: "heading1",
                    view: "h1",
                    title: "Heading 1",
                    class: "ck-heading_heading1",
                  },
                  {
                    model: "heading2",
                    view: "h2",
                    title: "Heading 2",
                    class: "ck-heading_heading2",
                  },
                  {
                    model: "heading3",
                    view: "h3",
                    title: "Heading 3",
                    class: "ck-heading_heading3",
                  },
                  {
                    model: "heading4",
                    view: "h4",
                    title: "Heading 4",
                    class: "ck-heading_heading4",
                  },
                  {
                    model: "heading5",
                    view: "h5",
                    title: "Heading 5",
                    class: "ck-heading_heading5",
                  },
                  {
                    model: "heading6",
                    view: "h6",
                    title: "Heading 6",
                    class: "ck-heading_heading6",
                  },
                ],
              },
              // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
              placeholder: "Nhập nội dung báo cáo",
              // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
              fontFamily: {
                options: [
                  "default",
                  "Arial, Helvetica, sans-serif",
                  "Courier New, Courier, monospace",
                  "Georgia, serif",
                  "Lucida Sans Unicode, Lucida Grande, sans-serif",
                  "Tahoma, Geneva, sans-serif",
                  "Times New Roman, Times, serif",
                  "Trebuchet MS, Helvetica, sans-serif",
                  "Verdana, Geneva, sans-serif",
                ],
                supportAllValues: true,
              },
              // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
              fontSize: {
                options: [10, 12, 14, "default", 18, 20, 22],
                supportAllValues: true,
              },
              // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
              // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
              htmlSupport: {
                allow: [
                  {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true,
                  },
                ],
              },
              // Be careful with enabling previews
              // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
              htmlEmbed: {
                showPreviews: true,
              },
              // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
              link: {
                decorators: {
                  addTargetToExternalLinks: true,
                  defaultProtocol: "https://",
                  toggleDownloadable: {
                    mode: "manual",
                    label: "Downloadable",
                    attributes: {
                      download: "file",
                    },
                  },
                },
              },
              // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
              mention: {
                feeds: [
                  {
                    marker: "@",
                    feed: [
                      "@apple",
                      "@bears",
                      "@brownie",
                      "@cake",
                      "@cake",
                      "@candy",
                      "@canes",
                      "@chocolate",
                      "@cookie",
                      "@cotton",
                      "@cream",
                      "@cupcake",
                      "@danish",
                      "@donut",
                      "@dragée",
                      "@fruitcake",
                      "@gingerbread",
                      "@gummi",
                      "@ice",
                      "@jelly-o",
                      "@liquorice",
                      "@macaroon",
                      "@marzipan",
                      "@oat",
                      "@pie",
                      "@plum",
                      "@pudding",
                      "@sesame",
                      "@snaps",
                      "@soufflé",
                      "@sugar",
                      "@sweet",
                      "@topping",
                      "@wafer",
                    ],
                    minimumCharacters: 1,
                  },
                ],
              },
              // The "super-build" contains more premium features that require additional configuration, disable them below.
              // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
              removePlugins: [
                // These two are commercial, but you can try them out without registering to a trial.
                // 'ExportPdf',
                // 'ExportWord',
                "AIAssistant",
                "CKBox",
                "CKFinder",
                "EasyImage",
                // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                // Storing images as Base64 is usually a very bad idea.
                // Replace it on production website with other solutions:
                // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                // 'Base64UploadAdapter',
                "RealTimeCollaborativeComments",
                "RealTimeCollaborativeTrackChanges",
                "RealTimeCollaborativeRevisionHistory",
                "PresenceList",
                "Comments",
                "TrackChanges",
                "TrackChangesData",
                "RevisionHistory",
                "Pagination",
                "WProofreader",
                // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                // from a local file system (file://) - load this site via HTTP server if you enable MathType.
                "MathType",
                // The following features are part of the Productivity Pack and require additional license.
                "SlashCommand",
                "Template",
                "DocumentOutline",
                "FormatPainter",
                "TableOfContents",
                "PasteFromOfficeEnhanced",
              ],
            });
          </script>
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="formFileLg" class="form-label"
              >Hình ảnh minh họa 1</label
            >
            <span id="rePic1">*</span>
          </div>
          <input
            class="form-control form-control-lg"
            id="formFileLg1"
            type="file"
            accept="image/*"
            required
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="formFileLg" class="form-label"
              >Hình ảnh minh họa 2</label
            >
          </div>

          <input
            class="form-control form-control-lg"
            id="formFileLg2"
            type="file"
            accept="image/*"
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="captcha">Nhập Captcha</label>
            <span id="reCap">*</span>
          </div>
          <div class="captcha-form">
            <div class="input-group mb-lg-4">
              <input
                type="text"
                id="captcha"
                class="form-control"
                aria-label="Nhập captcha"
                aria-describedby="button-addon2"
                value=""
                disabled
                style="
                  background-image: url(assets/captcha-bg.png);
                  color: deepskyblue;
                  font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                    'Helvetica Neue', sans-serif;
                "
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="refresh"
              >
                <i class="fas fa-redo"></i>
              </button>
            </div>
            <div class="input-group mb-lg-4">
              <input
                type="text"
                id="captchaI"
                placeholder="Nhập captcha"
                class="form-control"
                aria-label="Nhập captcha"
                aria-describedby="button-addon2"
                value=""
                required
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="check"
              >
                <i class="fas fa-check"></i>
              </button>
            </div>
            <div class="message"></div>
            <script src="js/script.js"></script>
          </div>
        </div>
        <div class="message" id="must">(*) : Bắt buộc</div>
        <button id="yes" class="submit">Submit</button>
        <script src="js/script2.js"></script>
      </form>
    </div>
  </body>
</html>
