<style>
  * {
    box-sizing: border-box;
  }

  a {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-decoration-line: none;
  }

  .sidebar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;
    background: #048480;
    transition: width 0.4s;
  }

  body.open .sidebar {
    width: 260px;
  }

  .sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
  }

  .sidebar-burger {
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    background: url(./assets/icon-burger.svg) no-repeat center center;
    transition: 0.3s;
  }

  body.open .sidebar-burger {
    background: url(./assets/icon-close.svg) no-repeat center center;
  }

  .sidebar-logo {
    width: 40%;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .sidebar-logo {
    opacity: 1;
  }

  .sidebar-nav {
    padding-top: 10px;
    flex: 1 1 auto;
  }

  .sidebar a {
    display: flex;
    gap: 25px;
    align-items: center;
    /* height: 50px;
width: 72px; */
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 25px;
  }

  .sidebar-header a {
    height: 50px;
    width: 70px;
  }

  .sidebar-nav a {
    height: 50px;
    width: 100%;
  }

  .sidebar-nav a:hover {
    background: #1e1e1e !important;
  }

  .sidebar-nav .submenu {
    position: static;
    display: none;
  }

  .Sdrop {
    background: #08a5a0;
    max-height: 500px;
    width: max-content;
    display: block !important;
  }

  .sidebar-nav .submenu a {
    padding-left: 25px;
    cursor: pointer;
  }

  .sidebar a > img {
    width: 24px;
    height: 24px;
  }

  .dropdown {
    transition: transform 0.4s;
  }

  .change {
    transform: rotate(90deg);
  }

  .sidebar a > span {
    color: #f9f9f9;
    opacity: 0;
    transition: 0.3s;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 10px;
    }
    100% {
      opacity: 1;
      translate: 0;
    }
  }

  body.open .sidebar a > span {
    opacity: 1;
    animation: appear 0.3s both;
  }

  .sidebar-footer a {
    height: 50px;
    width: 100%;
  }

  .sidebar-footer a:hover {
    background: #1e1e1e !important;
  }
</style>
</head>

<div class="sidebar">
<div class="sidebar-inner">
  <header class="sidebar-header">
    <a href="#" type="button" class="sidebar-burger" id="closing"></a>
    <img src="/assets/logo.png" class="sidebar-logo" />
  </header>
  <nav class="sidebar-nav">
    <a href="/department" type="button">
      <img src="/assets/icon-home.svg" />
      <span>Trang chủ</span>
    </a>
    <a href="#" type="button" class="submenu-btn" id="submenu-btn">
      <img src="/assets/icon-levels.svg" />
      <span style="animation-delay: 0.1s">Thống kê</span>
      <img
        src="/assets/icon-dropdown.svg"
        class="dropdown"
        id="dropdown"
      />
    </a>
    <nav class="submenu" id="submenu">
      <a href="/api/test" type="button" class="sub-item">
        <span style="animation-delay: 0.1s">Danh sách quận huyện</span>
      </a>
      <a href="#" type="button" class="sub-item">
        <span style="animation-delay: 0.2s">Loại hình quảng cáo</span>
      </a>
      <a href="#" type="button" class="sub-item">
        <span style="animation-delay: 0.3s">Yêu cầu</span>
      </a>
      <a href="#" type="button" class="sub-item">
        <span style="animation-delay: 0.4s">Báo cáo</span>
      </a>
    </nav>
    <a href="#" type="button">
      <img src="/assets/icon-pointat.svg" />
      <span style="animation-delay: 0.2s">Phân công</span>
    </a>
  </nav>
  <footer class="sidebar-footer">
    <a href="#" type="button">
      <img src="/assets/icon-logout.svg" />
      <span>Đăng xuất</span>
    </a>
  </footer>
</div>
</div>

<script>
  const show = document
    .querySelector("#submenu-btn")
    .addEventListener("click", showSubMenu);
  function showSubMenu() {
    if (
      document.querySelector("#submenu").classList.contains("Sdrop") &&
      document.querySelector("#dropdown").classList.contains("change")
    ) {
      document.querySelector("#submenu").classList.remove("Sdrop");
      document.querySelector("#dropdown").classList.remove("change");
    } else {
      document.querySelector("#submenu").classList.add("Sdrop");
      document.querySelector("#dropdown").classList.add("change");
    }
  }

  const close = document
    .querySelector("#closing")
    .addEventListener("click", handleSideBar);
  function handleSideBar() {
    if (document.body.classList.contains("open")) {
      document.body.classList.remove("open");
      document.querySelector("#submenu").classList.remove("Sdrop");
      document.querySelector("#dropdown").classList.remove("change");
    } else {
      document.body.classList.toggle("open");
    }
  }
</script>
